<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />

    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= htmlWebpackPlugin.options.meta.name %></title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.meta.description %>" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="<%= htmlWebpackPlugin.options.colors.brandPrimary %>" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.meta.name %>" />
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.meta.name %>" />
    <meta name="msapplication-TileColor" content="<%= htmlWebpackPlugin.options.colors.brandPrimary %>" />
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.colors.brandPrimary %>" />

    <meta itemprop="image" content="<%= htmlWebpackPlugin.options.baseUrl %>/favicons/android-chrome-192x192.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@<%= htmlWebpackPlugin.options.meta.twitter %>" />
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.meta.name %>" />
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.meta.description %>" />
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.baseUrl %>/favicons/android-chrome-192x192.png" />
    <meta name="twitter:image:alt" content="An icon that represents devnews." />

    <meta property="fb:app_id" content="<%= htmlWebpackPlugin.options.meta.facebook_app_id %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.meta.name %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.meta.description %>" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.baseUrl %>/" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.baseUrl %>/icon.png" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62461723-5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-62461723-5');
    </script>

</head>

<body>

    <div id="root"></div>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script async src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

    <noscript>Please <a href="http://enable-javascript.com/" target="_blank">enable JavaScript</a> in your browser.</noscript>
    <!--[if lte IE 9]>Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a>.<![endif]-->

</body>
</html>
